.DS_Store

application/cache/*
!application/cache/index.html
application/config/config.php
application/config/database.php
index.php
application/controllers/Test.php
application/config/config.php
application/config/database.php
index.php

application/logs/*
!application/logs/index.html

!application/*/.htaccess


composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/node_modules/

# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode/*
/uploads/*
/theme_assets/*
/logs/*
/openvidu/
/live_key/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/assets_v1/
/system/
/.history/*
